In [5]:
import gmaps
import gmaps.datasets

In [6]:
gmaps.configure(api_key='AIzaSyDIA34aX0cyZIZJcWpQR9jP_xc4gJ1xLBE')
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

locations = earthquake_df[['latitude','longitude']]

In [10]:
locations = earthquake_df[['latitude','longitude']]
locations

       latitude   longitude
0     65.193300 -149.072500
1     38.791832 -122.780830
2     38.818001 -122.792168
3     33.601667 -116.727667
4     37.378334 -118.520836
...         ...         ...
8599  19.331500 -155.182200
8600  41.819700 -119.622400
8601  38.771999 -122.720497
8602  34.608333 -118.641333
8603  41.905500 -119.625000

[8604 rows x 2 columns]

In [11]:
wts = earthquake_df['magnitude']
wts

0       1.70
1       2.10
2       0.48
3       0.78
4       3.64
        ...
8599    0.80
8600    2.20
8601    1.91
8602    1.93
8603    4.21
Name: magnitude, Length: 8604, dtype: float64

In [14]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights = wts))