In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-08-12 14:31:33,-23.1203,-134.9692,73.00,71,100,20.76
1,1,Dolni Bousov,CZ,2022-08-12 14:36:00,50.4383,15.1281,76.10,39,96,8.72
2,2,Atar,MR,2022-08-12 14:36:00,20.5169,-13.0499,103.75,26,2,7.34
3,3,Punta Arenas,CL,2022-08-12 14:32:33,-53.1500,-70.9167,35.71,87,100,6.91
4,4,Dikson,RU,2022-08-12 14:33:12,73.5069,80.5464,47.52,89,100,31.45

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    # Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind speed 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Dolni Bousov,CZ,2022-08-12 14:36:00,50.4383,15.1281,76.10,39,96,8.72
20,20,Jatai,BR,2022-08-12 14:36:05,-17.8814,-51.7144,76.84,19,0,5.32
21,21,Anito,PH,2022-08-12 14:36:05,12.4497,125.2886,79.18,85,77,1.95
22,22,Kavieng,PG,2022-08-12 14:36:06,-2.5744,150.7967,80.85,74,88,10.20
25,25,Aracati,BR,2022-08-12 14:36:07,-4.5617,-37.7697,88.32,46,22,13.87
27,27,Itoman,JP,2022-08-12 14:35:13,26.1247,127.6694,86.02,79,94,3.44
28,28,San Patricio,US,2022-08-12 14:35:37,28.0170,-97.5169,88.84,61,94,4.79
30,30,Ribeira Grande,PT,2022-08-12 14:36:08,38.5167,-28.7000,79.20,78,20,11.50
32,32,Boueni,YT,2022-08-12 14:36:08,-12.9025,45.0761,78.78,67,60,8.41
35,35,Victoria,HK,2022-08-12 14:33:13,22.2855,114.1577,81.32,89,82,5.99

In [11]:
preferred_cities_df.count()

City_ID       242
City          242
Country       239
Date          242
Lat           242
Lng           242
Max Temp      242
Humidity      242
Cloudiness    242
Wind Speed    242
dtype: int64

In [12]:
# Get Travel Destinations
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1     Dolni Bousov      CZ     76.10  50.4383   15.1281
20           Jatai      BR     76.84 -17.8814  -51.7144
21           Anito      PH     79.18  12.4497  125.2886
22         Kavieng      PG     80.85  -2.5744  150.7967
25         Aracati      BR     88.32  -4.5617  -37.7697
27          Itoman      JP     86.02  26.1247  127.6694
28    San Patricio      US     88.84  28.0170  -97.5169
30  Ribeira Grande      PT     79.20  38.5167  -28.7000
32          Boueni      YT     78.78 -12.9025   45.0761
35        Victoria      HK     81.32  22.2855  114.1577

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError): 
    print("Hotel not found... skipping.")

In [15]:
 # Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

         Lat       Lng
1    50.4383   15.1281
20  -17.8814  -51.7144
21   12.4497  125.2886
22   -2.5744  150.7967
25   -4.5617  -37.7697
..       ...       ...
559  12.5847  -81.7006
560  26.1842  127.7558
561  30.1669  -96.3977
569  41.7597   86.1469
570   6.3005  -10.7969

[242 rows x 2 columns]