## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
sys.path.append('..')
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [51]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,weather Description,Lat,Lng,Hotel Name
0,4,Aswan,EG,87.28,clear sky,24.0934,32.9070,Nuba Nile
1,13,Komsomolskiy,UZ,77.72,scattered clouds,40.4272,71.7189,Ikathouse
2,16,Butaritari,KI,81.55,light rain,3.0707,172.7902,Isles Sunset Lodge
3,17,Ponta Delgada,PT,75.92,scattered clouds,37.7333,-25.6667,Vila Nova Hotel
4,20,Primero De Enero,CU,83.35,broken clouds,21.9469,-78.4283,Motel Dos Palmas (Maria Machete)

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Bethel",:]
vacation_end = vacation_df.loc[vacation_df["City"]=="Bethel",:]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Hamilton",:]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Ocean City",:] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="San Patricio",:]

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
start1 = (start[0][0],start[0][1])
end = vacation_end[["Lat", "Lng"]].to_numpy()
end1 = (end[0][0],end[0][1])
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1u = (stop1[0][0],stop1[0][1])
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2u = (stop2[0][0],stop2[0][1])
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3u = (stop3[0][0],stop3[0][1])
print(start1)
print(end1)
print(stop1u)
print(stop2u)
print(type(stop3u))

(41.3712, -73.414)
(41.3712, -73.414)
(39.1834, -84.5333)
(39.2776, -74.5746)
<class 'tuple'>

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1u, stop2u, stop3u]

fig = gmaps.figure()
Vacation_itinerary = gmaps.directions_layer(start1, end1, waypoints=waypoints,travel_mode='DRIVING', show_markers=True)
fig.add_layer(Vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,weather Description,Lat,Lng,Hotel Name
0,31,Bethel,US,79.03,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
1,69,Hamilton,US,77.99,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
2,35,Ocean City,US,77.02,broken clouds,39.2776,-74.5746,Biscayne Suites
3,80,San Patricio,US,78.75,moderate rain,28.0170,-97.5169,"Motel 6 Sinton, TX"

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))